@{
    ViewData["Title"] = "Mobile User Agent Detection Page";

    var request = Html.ViewContext.HttpContext.Request;
    bool isMobile = (bool)ViewBag.IsMobile;
    string ipAddress = ViewBag.ActualIpAddress;
    string ipAddress2 = ViewBag.ReportedIpAddress;
}

<div class="text-center">
    <h1 class="display-4">@(isMobile ? "Mobile" : "Desktop") browser agent detected</h1>
    <p><a href="/robots.txt">View robots.txt</a></p>
</div>
<div class="jumbotron">
    <p class="lead">Your IP Address</p>
    <p><pre>@ipAddress</pre></p>
    <p class="lead">Your Browser Agent</p>
    <p><pre>@request.Headers["User-Agent"]</pre></p>
    <p class="lead">All Request Headers</p>
    <ul>
        @foreach (var key in request.Headers.Keys)
        {
            <li><strong>@key:</strong> @request.Headers[key]</li>
        }
    </ul>
</div>
