@{
    ViewData["Title"] = "Mobile User Agent Detection Page";

    var request = Html.ViewContext.HttpContext.Request;
    bool isMobile = (bool)ViewBag.IsMobile;
    string ipAddress = ViewBag.IpAddress;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/robots.txt">Don't click this!</a>.</p>
</div>
<div class="jumbotron">
    <h1>@(isMobile ? "Mobile" : "Desktop") browser detected</h1>
    <p>IP Address: @ipAddress</p>
    <p>Browser agent: <pre>@request.Headers["User-Agent"]</pre></p>
    <p class="lead">All Headers</p>
    <ul>
        @foreach (var key in request.Headers.Keys)
        {
            <li>@key: @request.Headers[key]</li>
        }
    </ul>
</div>
