@{
    ViewBag.Title = "Sandbox Desktop Page";
}


@section headers {
   <meta property="fb:app_id" content="218770528164917" />
<meta property="og:title" content="Fiesta Chicken Shells With Piña Colada Fruit" />
<meta property="og:type" content="recipe" />
<meta property="og:url" content="http://www.publix.com/aprons-recipes/fiesta-chicken-shells-with-pina-colada-fruit" />
<meta property="og:site_name" content="Publix Super Markets" />
<meta property="og:description" content="Fiesta Chicken Shells With Piña Colada Fruit" />
<meta property="og:image" content="http://www.publix.com/~/media/aprons/images/2014/11/14/17/44/poul0167_600x440.ashx" />
}

<!--  -->

<div class="jumbotron">
    <h1>Desktop site</h1>
    <p class="lead">@Html.ViewContext.HttpContext.Request.UserAgent</p>
</div>


<div class="row">
    
    <div class="col-md-4">
        <h2>Sandbox rules</h2>
        <p>
            If you don't know what this web site is, or why it is here, you are probably in the
            wrong place.
        </p>
    </div>
</div>
