@{
    ViewBag.Title = "Mobile User Agent Detection Page";
    
    var request = Html.ViewContext.HttpContext.Request;
    bool isMobile = (bool)ViewBag.IsMobile;
}


@section headers {
}

<div class="jumbotron">
    <h1>@(isMobile ? "Mobile user agent" : "Desktop user agent")</h1>
    <p class="lead">Headers</p>
    <ul>
        @foreach(var key in Request.Headers.AllKeys)
        {
            <li>@key: @Request.Headers[key]</li>
        }
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why are we here?</h2>
        <p>
            This site uses your browser's user agent to detect if you are using a mobile device. If the rules are functioning properly, you will see "Mobile user agent" when
            testing a mobile device, and "Desktop user agent" for all other devices.
        </p>
        <p>
            You can also visit the <a href="/History">History</a> to see a list of recent browser agents.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contributions welcome!</h2>
        <p>
            Submit a PR at our <a href="https://github.com/mgnoonan/WebApplication1">GitHub repo</a>.
        </p>
    </div>
</div>

@section scripts {
}
