@{
    ViewBag.Title = "Sandbox Desktop Page";
}


@section headers {
    <meta property="fb:app_id" content="218770528164917" />
    <meta property="og:title" content="Clementines for Sale!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.publix.com/products-services/produce/at-seasons-peak/clementines" />
    <meta property="og:site_name" content="Publix Super Markets" />
    <meta property="og:description" content="Best Clementines Ever" />
    <meta property="og:image" content="http://www.publix.com/~/media/images/retail/heroes/small - 642x340/produce/navel-oranges_642x340.ashx" />
}

<!--  -->

<div class="jumbotron">
    <h1>Desktop site</h1>
    <p class="lead">@Html.ViewContext.HttpContext.Request.UserAgent</p>
</div>


<div class="row">
    
    <div class="col-md-4">
        <h2>Sandbox rules</h2>
        <p>
            If you don't know what this web site is, or why it is here, you are probably in the
            wrong place.
        </p>
    </div>
</div>
